MYSQL_USER_DSN=root:123456@tcp(127.0.0.1:3306)/user_db?charset=utf8mb4&parseTime=True
MYSQL_VIDEO_DSN=root:123456@tcp(127.0.0.1:3306)/video_db?charset=utf8mb4&parseTime=True
MYSQL_COMMENT_DSN=root:123456@tcp(127.0.0.1:3306)/comment_db?charset=utf8mb4&parseTime=True

#jwt签名密钥
JWT_SECRET=ourvideos-secret-key

# Redis
REDIS_ADDR=localhost:6379

# 服务地址
USER_SERVICE_ADDR=localhost:50051
VIDEO_SERVICE_ADDR=localhost:50052
COMMENT_SERVICE_ADDR=localhost:50053